.emailContainer {
    position: absolute;
    bottom: 70px;
    right: 80px;

    input {
        background-color: white;
        width: 320px;
        height: 46px;
        border: 1px solid black;
        border-radius: 99px;
        font-family: "Self Modern";
        font-style: italic;
        font-size: 18px;
        padding: 10px 20px;

        &::placeholder {
            color: black;
            font-size: 18px;
        }
    }

    .button {
        height: 46px;
        padding: 0px 34px;
        font-size: 18px;
        font-family: "Self Modern";
        font-style: italic;
        outline: none;
        border: 1px solid black;
        border-radius: 99px;
        background-color: white;
        margin-left: 12px;
        color: black;
    }

    .status {
       margin-left: 20px;
       margin-top: 12px;
    }
}

@include tablet {
    .emailContainer {

        right: 20px;

        input {
            width: 240px;
            height: 40px;
            font-size: 14px;
        }

        .button {
            height: 40px;
            padding: 0px 24px;
            font-size: 14px;
        }
    }
}

@include mobile {
    
    .mobileContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        .button {
            height: 40px;
            width: calc(100% - 64px);
            font-size: 18px;
            font-family: "Self Modern";
            font-style: italic;
            outline: none;
            border: 1px solid black;
            border-radius: 99px;
            background-color: white;
            color: black;
        }
    }

    .modalContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        width: 100vw;
        height: 160px;
        z-index: 999;
        padding: 32px;
        display: flex;
        flex-direction: column;
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;

        .form {
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            margin-bottom: 10px;

            input {
                background-color: white;
                width: calc(100% - 48px);
                height: 40px;
                border: 1px solid black;
                border-radius: 99px;
                font-family: "Self Modern";
                font-style: italic;
                font-size: 18px;
                padding: 10px 20px;
        
                &::placeholder {
                    color: black;
                    font-size: 18px;
                }
            }
    
            .arrow {
                background: url('/arrow.svg');
                width: 40px;
                height: 40px;
                border-radius: 99px;
            }
        }

        .close {
            position: absolute;
            top: 20px;
            width: calc(100% - 64px);
            text-align: center;
            font-family: "Self Modern";
            font-style: italic;
            color: black;
            font-size: 20px;
        }
    }
    
    .scrim {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(black, 0.5);
        z-index: -1;
    }
}