
.htmlContainer {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 85vh;
    padding-bottom: 300px;
}

.thai {
    font-family: 'NotoSansThai';
    font-style: normal !important;
    font-size: 18px !important;
    line-height: 28px !important;
}

.detailsContainer {
    width: 68vw;
    padding: 50px;
    border-radius: 24px;
    background-color: white;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    display: flex;
    flex-direction: column;

    h1, h3, h4 {
        font-style: italic;
        font-weight: 400;
        text-align: center;
    }

    h1 {
        font-size: 3.75rem;
        letter-spacing: -2px;
        margin-bottom: 36px;
        line-height: 3rem;
    }

    h3 {
        font-size: 6.25rem;
        text-align: left;
        letter-spacing: -4px;
        margin: 70px 0 20px;
    }

    h4 {
        font-size: 1.5rem;
        letter-spacing: -1px;
        margin-top: 48px;
        margin-bottom: 8px;
    }

    .desc {
        width: 80%;
        margin: 0 auto;
        font-size: 1.125rem;
        line-height: 1.6rem;
        font-style: italic;
        text-align: center;

        a {
            text-decoration: underline;
        }

        &.left {
            width: 80%;
            text-align: left;
            margin: 0;
            margin-bottom: 48px;
        }
    }

    .header {
        margin-right: auto;
        display: flex;

        .tag {
            background-color: #00FF00;
            padding: 12px 40px;
            font-size: 1.125rem;
            border-radius: 99px;
        }

        .link {
            background-color: #00FF00;
            width: 46px;
            height: 46px;
            border-radius: 99px;
            margin-left: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            padding-right: 2px;
            cursor: pointer;
        }

        .copied {
            display: flex;
            align-items: center;
            margin-left: 10px;
            font-size: 12px;
        }
    }

    .dates {
        display: flex;
        width: 40%;
        justify-content: space-between;
    }

    .row {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }

    .note {
        margin-top: 10px;
        font-size: 0.8rem;

        &.large {
            margin-top: 48px;
            font-size: 1rem;
        }
    }

    .formColumn {
        width: 80%;
        margin-bottom: 20px;

        .title {
            font-size: 14px;

            margin-left: 4px;
            opacity: 0.6;
        }

        textarea {
            margin-top: 12px;
            widtH: 100%;
            min-height: 120px;
            font-family: 'Self Modern';
            font-style: italic;
        }
    }

    .formRow {
        display: flex;
        margin-bottom: 20px;
        align-items: end;
        width: 80%;

        .label {
            margin-right: 20px;
            width: 50%;

            &.long {
                width: 72%;
                input {
                    width: 100%;
                }
                
            }

            &.radio {
                display: flex;
                align-items: center;

                .title {
                    font-size: 14px;
                }

                .checkbox {
                    width: 24px;
                    height: 24px;
                    border-radius: 99px;
                    background-color: white;
                    border: 1px solid black;
                    margin-left: 12px;
                    position: relative;

                    &.checked {
                        &:before { 
                            content: '';
                            position: absolute;
                            top: 4px;
                            left: 4px;
                            width: 14px;
                            height: 14px;
                            border-radius: 99px;
                            background-color: black;
                        }
                    }
                }
            }

            .title {
                font-size: 12px;
                margin-bottom: 4px;
                margin-left: 4px;
                opacity: 0.6;
            }
        }
    }

    .emailContainer {
        margin-top: 70px;

        input {
            background-color: white;
            width: 100%;
            height: 44px;
            border: 1px solid black;
            border-radius: 99px;
            font-family: "Self Modern";
            font-style: italic;
            font-size: 16px;
            padding: 10px 20px;
    
            &::placeholder {
                color: black;
                font-size: 16px;
            }
        }
    
        .button {
            height: 46px;
            padding: 0px 34px;
            font-size: 18px;
            font-family: "Self Modern";
            font-style: italic;
            outline: none;
            border: 1px solid black;
            border-radius: 99px;
            background-color: white;
            color: black;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    
        .status {
           margin-top: 12px;
        }
    }
    
}

.socialContainer {
    position: fixed;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;

    .social {
        padding: 6px 20px;
        background: white;
        border: 1px solid black;
        border-radius: 99px;
        font-style: italic;
        font-size: 15px;
        margin-bottom: 16px;
        text-align: center;
    }
}

.bgCanvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

@include tablet {
    .htmlContainer {
        width: calc(100% - 80px);
        top: 88vh;
    }

    .detailsContainer {  
        width: 100%;
        z-index: 999;
    }
}

@include mobile {
    
    .htmlContainer {
        width: calc(100% - 40px);
        top: 80vh;
    }

    .detailsContainer { 
        width: 100%;
        padding: 24px;
        
        .desc { 
            width: 100%;

            &.left {
                width: 100%;
            }
        }

        .dates {
            width: 100%;
        }

        h3 {
            font-size: 5rem;
            line-height: 5.5rem;
            letter-spacing: -3px;
        }

        .formRow {
            width: 100%;

            .label {
                margin-right: 10px;

                &:last-of-type {
                    margin-right: 0px;
                }

                &.long {
                    width: calc(100% - 50px);
                }
            }
        }

        .emailContainer {
            input {
                height: 40px;
            }
        }

        .arrow {
            width: 40px;
            height: 40px;
            border-radius: 99px;
            background: url('/arrow.svg');
            margin-left: 10px;
        }

        .header {
            flex-wrap: wrap;
    
            .copied {
                width: 80%;
                margin-top: 4px;
                justify-content: flex-end;
            }
        }
    }

    
    .socialContainerMobile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: calc(100vw - 40px);
    
        .social {
            padding: 6px 20px;
            background: white;
            border: 1px solid black;
            border-radius: 99px;
            font-style: italic;
            font-size: 15px;
            margin-bottom: 16px;
            text-align: center;
        }
    }
   
}